body {
  background-color: rgb(218, 165, 165);
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #5082e6;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 170px;
  position: sticky;
  top: 0;
}

h1 { 
  color: white;
}
  
h2 {
  color: white;
  font-size: 35px;
}
  
p {
  color: white;
  text-align: center;
}
  
li {
  color: white;
  padding-top: 30px;
  font-size: 25px;
}

.indexHomeList {
  padding-left: 20px;
}
  
ul {
  padding-left: 22px;
}
  
h3 {
  color: white;
  text-align: center;
}

.homeBar {
  padding-top: 40px; 
  padding-left: 20px; 
  padding-bottom: 20px;
  float: left;
}

.headNav {
  color: white;
  padding-top: 40px; 
  padding-left: 140px; 
  padding-bottom: 20px;
  float: left;
}

.whiteFont {
  color: white;
}

.topBackground {
  float: left; 
  padding-left: 20px;
}

.homeLeft {
  float: left;
  background-color: rgb(219, 119, 119);
  padding-top: 20px;
  padding-left: 170px;
  padding-right: 200px;
  font-size: 35px;
}

.homeRight{
  text-align: center;
  padding-left: 1180px;
  padding-top: 20px;
  padding-right: 200px;
  font-size: 35px;
}

.whatLeft {
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 200px;
  font-size: 35px;
}

.whatLeftSide {
  display: inline;
  width: 50%;
  float: left;
  padding-right: 10px;
  background-color: rgb(202, 127, 127);
}

.whatRight {
  text-align: center;
  padding-left: 1000px;
  padding-top: 20px;
  padding-right: 100px;
  font-size: 35px;
}

.fSPhoto {
  padding-left: 370px;
}

.center {
  text-align: center;
}

.obamaPhoto {
  padding-left: 470px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.upcomingPhoto {
  padding-left: 720px;
  width: 500px;
}
  
.upcoming {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  background-color: #83aaf1;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

td, th {
border: 1px solid #000000;
text-align: left;
padding: 8px;
}

hr {
  border: 2px solid rgb(52, 118, 218);
}

tr:nth-child(even) {
background-color: #b2caf6;
}

footer {
text-align: center;
color: white;
background-color: #000000;
font-size: 25px;
padding-top: 20px;
}

.noBullets {
  list-style-type: none;
}

.footerList {
  background-color: #000000;
  list-style-type: none;
  padding-bottom: 20px;
}

.paddingA {
  padding-bottom: 10px;
  text-align: center;
}

.paddingB {
  padding-bottom: 156px;
  text-align: center;
}

.footerImage {
  padding-bottom: 20px;
  width: 200px;
}

input {
  margin: auto;
  display: block;
}

button {
  margin: auto;
  display: block;
  margin-top: 0px;
}
