:root {
  --white: #ffffff;
  --black: #000000;
  --pink1: #d57b80;
  --pink2: #E55257;
  --blue1: #b2caf6;
  --blue2: #83aaf1;
  --blue3: #5082e6;
  --blue4: rgb(52, 118, 218);
}

body {
  background-color: var(--pink1);
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: var(--blue3);
  color: rgb(255, 255, 255);
  padding: 20px 20px 20px 0;
  position: sticky;
  top: 0;
  display: flex;
}

nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  nav {
    display: block;
  }
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--white);
  font-size: 35px;
}

p {
  color: var(--white);
  text-align: center;
}

li {
  color: var(--white);
  padding-top: 30px;
  font-size: 25px;
}

.indexHomeList {
  padding-left: 20px;
}

ul {
  padding-left: 22px;
}

h3 {
  color: var(--white);
  text-align: center;
}

.homeBar {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  float: left;
}

.headNav {
  color: var(--white);
  padding-top: 40px;
  padding-left: 140px;
  padding-bottom: 20px;
  float: left;
}

.whiteFont {
  color: var(--white);
}

.topBackground {
  float: left;
  padding-left: 20px;
}

#homeRow1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: -8px;
}

@media screen and (max-width: 1280px) {
  #homeRow1 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.homeLeft {
  background-color: var(--pink2);
  padding: 20px 50px;
  font-size: 35px;
  height: fit-content;
}

.homeRight {
  text-align: center;
  padding: 20px 50px;
  font-size: 35px;
}

.whatLeft {
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 200px;
  font-size: 35px;
}

.whatLeftSide {
  display: inline;
  width: 50%;
  float: left;
  padding-right: 10px;
  background-color: var(--pink1);
}

.whatRight {
  text-align: center;
  padding-left: 1000px;
  padding-top: 20px;
  padding-right: 100px;
  font-size: 35px;
}

.fSPhoto {
  padding-left: 370px;
}

.center {
  text-align: center;
}

.obamaPhotoContainer {
  padding: 20px;
}

.obamaPhoto {
  max-width: 1000px; 
  /* make image responsive  */
  width: 100%;
  height: auto;
  /* center image */
  display: block;
  margin: 0 auto;
}

.upcomingPhoto {
  padding-left: 720px;
  width: 500px;
}

.upcoming {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  background-color: var(--blue2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
}


@media screen and (min-width: 1280px) {
  table {
    width: 50%;
    max-width: 1000px;
  }
}


td,
th {
  border: 1px solid var(--black);
  text-align: left;
  padding: 8px;
}

hr {
  border: 2px solid var(--blue4);
}

tr:nth-child(even) {
  background-color: var(--blue1);
}

#connect {
  margin: 50px;
}

footer {
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  font-size: 25px;
  padding-top: 20px;
}

footer a {
  color: var(--blue3)
}

.noBullets {
  list-style-type: none;
}

.footerList {
  background-color: var(--black);
  list-style-type: none;
  padding-bottom: 20px;
}

.paddingA {
  padding-bottom: 10px;
  text-align: center;
}

.paddingB {
  padding-bottom: 156px;
  text-align: center;
}

.footerImage {
  padding-bottom: 20px;
  width: 200px;
}

form label {
  display: block;
  text-align: center;
  font-weight: bold;
}

input {
  margin: auto;
  display: block;
}

button {
  margin: auto;
  display: block;
  margin-top: 0px;
}
